.ArtistsPanel {
  margin: 20px auto;
}

.ArtistsPanel__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ArtistsPanel__list a {
  color: black;
  text-decoration: none;
}

.ArtistsPanel__thumbnail {
  border: 1px solid grey;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 200px;
  overflow: hidden;
  width: 150px;
}

.ArtistsPanel__thumbnail__image {
  max-height: 150px;
  width: 150px;
}

.ArtistsPanel__thumbnail__title {
  font-weight: 500;
  margin: 0 10px;
  text-align: left;
  text-decoration: none;
}

.ArtistsPanel__thumbnail__followers {
  color: lightgrey;
  float: left;
  font-size: 14px;
  margin: 0 10px;
}

.ArtistsPanel__rating {
  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 30px;
}

.ArtistsPanel__rating__icon {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  height: 25px;
  width: 25px;
}

.ArtistsPanel__rating__icon.default {
  background-color: #cecece;
}

.ArtistsPanel__rating__icon.active {
  background-color: #cc0505;
}
