.AlbumsThumbnail__preview {
  background: var(--main-element-color);
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  color: var(--main-gloomy-color);
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin-bottom: -1px;
  margin-top: 30px;
}
