.AlbumsThumbnail__preview {
  background: var(--main-element-color);
  border: 2px solid var(--main-gloomy-color);
  color: var(--main-gloomy-color);
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin: 30px -2px -2px -2px;
}
