.SearchPage__searchInput {
  background-color: var(--main-element-color);
  border-radius: 5px;
  border: 2px solid var(--main-dark-color);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  width: 50vw;
}
