.AppContent {
  background-color: var(--main-content-color);
}

.AppPage {
  background-color: var(--main-gloomy-color);
  color: var(--main-element-color);
  padding: 20px;
}

.AppPage__pageTitle {
  color: var(--main-element-color);
  font-weight: 500;
  margin-top: 0;
}

.AppPage__spotifyButton {
  background-color: var(--main-element-color);
}
