.AppHeader {
  background-color: var(--main-header-color);
  height: 40px;
  padding: 5px;
}

.AppHeader__wrapper,
.AppHeader__title {
  display: inline-block;
  margin: 0 10px;
}

.AppHeader__wrapper {
  float: left;
}

.AppHeader__title {
  color: white;
  float: right;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
}

.AppContent__wrapper {
  height: 100%;
}

.AppContent__navigation {
  border-bottom: 1px solid var(--main-header-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.AppContent__navigation a {
  text-decoration: none;
}

.AppContent__navigation a:hover {
  background-color: rgb(230, 230, 230);
}

.AppContent__navigation__items {
  padding: 10px;
}

.AppPage {
  background-color: white;
  padding: 20px;
}
